#printToScreen, #rodS, #jt {
  display: none;
}

h1, h3 {
  text-align: center;
}

label {
  font-size: 16px;
}

body {
  background-color: #ff6666;
}

.btn {
  margin-top: 20px;
}

img {
  max-width: 500px
}
